@font-face {font-family: "ars-maquette-pro"; src: url("./assets/fonts/ARSMaquettePro-Medium.ttf") format("truetype"); font-weight: 500; font-style: normal;}

/* General */

*, *::before, *::after {
    box-sizing: border-box;
}

.center {
    text-align: center;
  }

/* Background */

body {
    width: 100%;
    height: auto;
}


/* Title */

.content {
    width: 80%;
    margin-left: 10%;
    font-size: 150%;
    padding-bottom: 100px;
}

#title {
    width: 40%;
    margin: 0 auto;
    padding: 5vh 0 0 0;
}


/* About */

.general_infos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    gap: 1rem 0;
    padding: 0.75rem;
}

.general_infos .bold {
    font-weight: bold;
}

.divider{
    width: 100%;
    padding: 5vh 0 5vh 0;
}


/* Review */

.review {
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    text-align: justify;
}

.general_infos, .review {
    font-family: "ars-maquette-pro";
    background: #DFD9CB;
    color: black;
    box-shadow: 0 0 0.5em 0 #DFD9CB;
    border-radius: 0.5rem;
    line-height: 125%;
}

h2 {
    padding-bottom: 1vh;
}

h2::after {
    content: '';
    background: #170708;
    display: block;
    width: 5vw;
    height: 0.25vh;
    transform: translateX(10px) translateY(0.5vh);
}

.alinea {
    margin-left: 1.5vw;
}

@media screen and (max-width: 1153px) {
    #title {
        width: 50%;
    }

    .general_infos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3;
        gap: 1rem 0;
        padding: 0.75rem;
    }
}