@font-face {font-family: "ars-maquette-pro"; src: url("./assets/fonts/ARSMaquettePro-Medium.ttf") format("truetype"); font-weight: 500; font-style: normal;}

/* General */

*, *::before, *::after {
    box-sizing: border-box;
}

.center {
    text-align: center;
  }

/* Background */

body {
    width: 100%;
    height: auto;
}


/* Title */

.content {
    width: 80%;
    margin-left: 10%;
    font-size: 150%;
}

#title {
    width: 40%;
    margin: 0 auto;
    padding: 5vh 0 0 0;
}


/* About */

.general_infos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    gap: 1rem 0;
    padding: 0.75rem;
}

.general_infos .bold {
    font-weight: bold;
}

.divider{
    width: 100%;
    padding: 5vh 0 5vh 0;
}


/* Review */

.review {
    padding: 0.75rem 0.75rem 0.75rem 1.75rem;
}

.general_infos, .review {
    font-family: "ars-maquette-pro";
    background: #DFD9CB;
    color: black;
    box-shadow: 0 0 0.5em 0 #DFD9CB;
    border-radius: 0.5rem;
    line-height: 125%;
}