@charset "UTF-8";

.divider {
    width: 80%;
    padding: 5vh 0 0 0;
}



/* ################# */
/* ################# */
/* Animation Fade-In */
/* ################# */
/* ################# */

    .fade-in {
        opacity: 0;
        transition: opacity 400ms ease-in;
    }
    
    .fade-in.appear {
        opacity: 1;
    }



/* ######### */
/* ######### */
/* Home page */
/* ######### */
/* ######### */

    .homepage{
        background-image: url("../assets/images/home_background.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        text-shadow: 1px 1px 5px black;
        width: 100%;
        height: 85vh;
        margin-bottom: 10vh;
    }

    #homepage-title{
        position: relative;
        width: fit-content;
        margin: 0 auto;
        top: 15vh;
    }
    
    #homepage-title h1{
        font-family: "likesnow", sans-serif;
        color: #E5A800;
        font-size: 650%;
    }
    
    #homepage-title h3{
        color: white;
        font-size: 200%;
    }
    
    .whoami{
        z-index: 2;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgb(22, 22, 22);
        box-shadow: 0 0 0.75em rgb(22, 22, 22);
    }
    
    .whoami h2{
        padding-top: 4vh;
        padding-bottom: 4vh;
        font-family: "likesnow", sans-serif;
        color: #E5A800;
        font-size: 350%;
    }
    
    .whoami p{
        color: white;
        font-size: 150%;
        line-height: 1.4;
    }



/* ##################### */
/* ##################### */
/* Projects - Grid Setup */
/* ##################### */
/* ##################### */

    .grid-projects {
        z-index: 2;
        display: grid;
        gap: 4rem 6rem;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 4rem 1rem 4rem;
    }

    .project-card {
        background: rgba(0, 0, 0, 0.5) no-repeat;
        background-size: cover;
        aspect-ratio: 1 / 1;
        font-family: salsa;
        border-radius: 0.5em;

        transition: transform 0.1s ease;
        transform-style: preserve-3d;
        will-change: transform;
    }

    .project-card:hover .project-card-content * {
        transform: translateZ(20px);
    }

    .project-card-content {
        margin: auto;
        display: grid;
        grid-template-rows: repeat(4, 1fr);

        font-family: inherit;
        opacity: 0;
        height: 100%;
        width: 100%;
        border-radius: 0.5em;

        position: relative;
        z-index: 1;
    }

    .softwares {
        margin: auto;
    }

    .lang-icon {
        max-width: 2.5em;
        max-height: 2.5em;
    }

    .project-card-content h2 {
        margin: auto 0;
        font-family: inherit;
        font-size: 2.5em;
        color: white;
        text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
    }

    .project-card-content p {
        margin: auto;
        font-family: inherit;
        color: white;
        font-size: 1.25em;
        padding: 0 1.75vw;
    }

    .project-card-content a {
        margin: 0 auto;
    }


    /* Cards icon + hover */

    .project-card:hover .project-card-content {
        background: #00000070;
        transition: 0.15s ease;
        opacity: 1;
    }

    .MC-WT {
        background-image: url("../assets/images/gamecards/palais_tures_bateau.jpg");
    }

    .UE-TileBase {
        background-image: url("../assets/images/gamecards/TilebasedGame.jpg");
    }

    .UE-SideScroller {
        background-image: url("../assets/images/gamecards/SideScroller2D.jpg");
    }

    .PY-Renderer {
        background-image: url("../assets/images/gamecards/Py3DShapeRenderer.jpg");
    }

    .Portfolio {
        background-image: url("../assets/images/gamecards/website.jpg");
    }

    .MODELS {
        background-image: url("../assets/images/gamecards/blender.jpg");
    }

    .PY-Tree {
        background-image: url("../assets/images/gamecards/TreeGenerator.jpg");
    }

    .SI-QT {
        background-image: url("../assets/images/gamecards/spaceinvaders.jpg");
    }

    .PY-PARS {
        background-image: url("../assets/images/gamecards/parseur.jpg");
    }

    .JAVAGOTCHI {
        background-image: url("../assets/images/gamecards/javagotchi.jpg");
    }

    .LABY {
        background-image: url("../assets/images/gamecards/tp6_pre.jpg");
    }



/* ################### */
/* ################### */
/* Review - Grid Setup */
/* ################### */
/* ################### */

    .grid-review {
        z-index: 2;
        display: grid;
        gap: 4rem 6rem;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 4rem 1rem 4rem;
    }

    .game-card {
        background: rgba(0, 0, 0, 0.5) no-repeat;
        background-size: cover;
        aspect-ratio: 1 / 1;
        font-family: salsa;
        border-radius: 0.5em;

        transition: transform 0.1s ease;
        transform-style: preserve-3d;
        will-change: transform;
    }

    .game-card:hover .game-card-content {
        transform: translateZ(20px);
    }

    .game-card-content {
        margin: auto;
        display: grid;
        grid-template-rows: repeat(2, 1fr);

        font-family: inherit;
        opacity: 0;
        height: 100%;
        width: 100%;
        border-radius: 0.5em;
        text-align: center;

        position: relative;
        z-index: 1;
    }

    .game-card-content h2 {
        margin: auto;
        font-family: inherit;
        font-size: 2.5em;
        color: white;
        text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
    }

    .game-card-content a {
        margin: 0 auto;
    }


    /* Cards icon + hover */

    .game-card:hover .game-card-content {
        opacity: 1;
    }

    .TLOF-BOTW {
        background-image: url("../assets/images/reviews/games-icon/TLOZ-BOTW.jpg");
    }

    .SW-JFO {
        background-image: url("../assets/images/reviews/games-icon/SW-JFO.jpg");
    }

    .P-LA {
        background-image: url("../assets/images/reviews/games-icon/P-LA.jpg");
    }



/* ######### */
/* ######### */
/* Utilities */
/* ######### */
/* ######### */

    .center {
        text-align: center;
    }

    .bg-radius {
        border-radius: 0.25em;
    }

    .bg-rotate {
        transform: rotate(90deg);
    }

    .grid-row-span-2 {
        grid-row: span 2;
    }
    
    .grid-col-span-3 {
        grid-column: span 3;
    }
    
    .grid-col-span-4 {
        grid-column: span 4;
    }
    
    .grid-col-span-5 {
        grid-column: span 5;
    }
    
    .flex {
        display: flex;
        gap: 1rem;
    }



/* ########## */
/* ########## */
/* Responsive */
/* ########## */
/* ########## */

    @media screen and (max-width: 1153px) {
        .neon-title {
            padding: 5vh 0 calc(6vh - 2rem) 0;
        }

        .grid-projects {
            grid-template-columns: repeat(2, 1fr);
        }

        .grid-review {
            grid-template-columns: repeat(2, 1fr);
        }
    }