#topmenu{
    width: 100%;
    margin: 0 auto 0 auto;
    background-color: rgb(22, 22, 22);
    position: sticky;
    top: 0px;
    z-index: 10;
    box-shadow: 0 0 0.5em rgb(22, 22, 22);
}

#topmenu-list{
    list-style-type: none;
}

#topmenu li{
    text-align: center;/*Centre le  texte dans les elements de menu*/
}

/*Evite que le menu n'ait une hauteur nulle*/
#topmenu-list::after{
    content: "";
    display: table;
    clear: both;
}

.topmenu-items{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;/*Evite le decalage des elements sous le menu a cause de la bordure en :hover*/
    padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
}

.left .topmenu-items:hover, .left .topmenu-items:focus{
    color: orange;
    border-bottom: 2px solid gold;
}

.left {
    float: left;
    width: 14%;/*100% divise par le nombre d'elements de menu*/
}

.right {
    float: right;
    margin: 0 5px;
    width: 30px;
    height: 30px;
}

.right img{
    width: 100%;
    height: 100%;
    transform: translateY(-5px);
}

/* Responsive */

@media screen and (max-width: 1153px) {
    .left {
        width: 18%;
    }
}