#topmenu{
    width: 100%;
    margin: 0px auto 2vh auto;
    background-color: rgb(22, 22, 22);
    position: sticky;
    top: 0px;
    z-index: 10;
    box-shadow: 0 0 0.5em rgb(22, 22, 22);
}

#topmenu ul{
    list-style-type: none;
}

#topmenu li{
    float: left;
    width: 10%;/*100% divise par le nombre d'elements de menu*/
    text-align: center;/*Centre le texte dans les elements de menu*/
}

/*Evite que le menu n'ait une hauteur nulle*/
#topmenu ul::after{
    content: "";
    display: table;
    clear: both;
}

#topmenu a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;/*Evite le decalage des elements sous le menu a cause de la bordure en :hover*/
    padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
}

#topmenu a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}