body {
    background-image: url("./assets/images/home_background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: "likesnow";
    src: url("./assets/fonts/likesnow.ttf") format("truetype");
}

.firstpage{
    text-align: center;
    text-shadow: 1px 1px 5px black;
    width: 100%;
}

#title{
    position: relative;
    width: fit-content;
    margin: 0 auto;
    top: calc();
    top: 20vh;
}

#title h1{
    font-family: "likesnow", sans-serif;
    color: #E5A800;
    font-size: 650%;
}

#title h3{
    color: white;
    font-size: 200%;
}

.whoami{
    position: relative;
    top: 65vh;
    padding: 0 0 5vh 0;
    width: 100%;
    background-color: rgb(22, 22, 22);
    box-shadow: 0 0 0.5em rgb(22, 22, 22);
}

.whoami h2{
    padding-top: 4vh;
    margin-bottom: 3vh;
    font-family: "likesnow", sans-serif;
    color: #E5A800;
    font-size: 350%;
}

.whoami p{
    color: white;
    font-size: 150%;
    line-height: 1.4;
}