body {
    background-image: url("./assets/images/home_background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: "likesnow";
    src: url("./assets/fonts/likesnow.ttf") format("truetype");
}

#topmenu{
    margin-bottom: 0px;
}

.content .firstpage{
    text-align: center;
    text-shadow: 1px 1px 5px black;
    width: 100%;
}

.content .firstpage .title{
    width: 100%;
    padding-top: 20vh;
    padding-bottom: 45vh;
}

.content .firstpage .title h1{
    font-family: "likesnow", sans-serif;
    color: #E5A800;
    font-size: 650%;
}

.content .firstpage .title h3{
    color: white;
    font-size: 200%;
}

.content .firstpage .whoami{
    padding: 0 0 5vh 0;
    width: 100%;
    background-color: rgb(22, 22, 22);
    box-shadow: 0 0 0.5em rgb(22, 22, 22);
}

.content .firstpage .whoami h2{
    padding-top: 4vh;
    margin-bottom: 3vh;
    font-family: "likesnow", sans-serif;
    color: #E5A800;
    font-size: 350%;
}

.content .firstpage .whoami p{
    color: white;
    font-size: 150%;
    line-height: 1.4;
}