/* Fonts */
@font-face {font-family: "salsa"; src: url("./assets/fonts/Salsa-Regular.ttf") format("truetype");}
@font-face {font-family: "wallpainter"; src: url("./assets/fonts/Wall-Painter.ttf") format("truetype");}

/* General */

:root {
    --clr-neon: hsl(64, 99%, 67%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: radial-gradient(#111368, #0B0438);
    width: 100%;
    height: auto;
}


/* Title */

.neon-title {
    padding: 10vh 0 calc(15vh - 2rem) 0;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.other-neon-title {
    display: inline-block;
    width: fit-content;
    font-size: 3em;
    background: radial-gradient(hsl(64, 100%, 75%), var(--clr-neon));
    color: #080647;
    border: var(--clr-neon) 0.125em solid;
    border-radius: 0.25em;
    padding: 0.25em 0.75em;
}

#title {
    font-family: wallpainter;
    transform: translateY(-10px);
}


/* Neon Button */

.neon-button {
    font-size: 1.25em;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    border-radius: 0.25em;
    padding: 0.25em 1em;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon),
                0 0 0.5em 0 var(--clr-neon);
}

.neon-button:hover, .neon-button:focus {
    background: radial-gradient(hsl(64, 100%, 75%), var(--clr-neon));
    color: #080647;
    box-shadow: 0 0 2em 0.25em var(--clr-neon);
}


/* Grid Setup */

.grid-col-span-3 {
    grid-column: span 3;
}

.grid-col-span-5 {
    grid-column: span 5;
}

.flex {
    display: flex;
    gap: 1rem;
}

.content {
    z-index: 2;
    display: grid;
    gap: 4rem 1rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
}


/* Item Card */

.items-prog-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1;

    position: relative;
    width: 100%;
    height: 100%;
    padding: 1%;
    color: white;
    border-radius: 1em;
    font-family: salsa;
}

.items-prog-card *{
    font-family: inherit;
}

.card-icon {
    border-radius: 1em;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
}

.card-title {
    width: fit-content;
}

.card-title h2{
    font-size: 2.5em;
    transform: translateY(-3px);
    width: 100%;
}

.lang-icon {
    max-width: 2.5em;
    max-height: 2.5em;
}

.card-description p{
    position: relative;
    float: left;
    font-size: 1.25em;
}

.card-description a{
    position: absolute;
    right: 1vw;
    bottom: 1vw;
}


/* Utilities */

.bg-radius {
    border-radius: 0.25em;
}

.bg-rotate {
    transform: rotate(90deg);
}

.bg-1 {
    background: hsl(26, 100%, 49%);
}

.bg-2 {
    background: hsl(26, 100%, 41%);
}


/* Responsive */

@media screen and (max-width: 1153px) {
    .content {
        grid-template-columns: 1fr;
    }

    .grid-col-span-3 {
        grid-column: span 1;
    }
    
    .grid-col-span-5 {
        grid-column: span 5;
    }
}