#content{
    width: 100%;
    background-color: rgb(128, 61, 61);
}

#content div{
    width: 30%;
    height: 51%;
    font-size: 250%;
	text-align: center;
    box-shadow: 0 0 0.5em black;
}

#content div p{
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

#content .content_block{
    display: block; /*Toute la surface sera cliquable*/
    color: white;
    border: 0.1em solid black;
}

#content .content_block:hover{
    color: rgb(255, 228, 73);
}

#poly{
    float: left;
    margin-left: 2%;
    background-image:   linear-gradient(rgba(0, 0, 100, 0.5), rgba(83, 83, 0, 0.5)),
                        url("./assets/images/polytech_pre.jpg");
                        background-size: cover;
}

#tp2{
    margin-left: 2.5%;
    float:left;
    background-image:   linear-gradient(rgba(0, 0, 100, 0.5), rgba(83, 83, 0, 0.5)),
                        url("./assets/images/tp2_pre.jpg");
                        background-size: cover;
}

#tp6{
    float: right;
    margin-right: 2%;
    background-image:   linear-gradient(rgba(0, 0, 100, 0.5), rgba(83, 83, 0, 0.5)),
                        url("./assets/images/tp6_pre.jpg");
                        background-size: cover;
}