#topmenu{
    margin-bottom: 0px;
}

img {
    width: 45vw;
    height: auto;
    border: 0.1em solid black;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

#r1 {
    float: left;
    margin-left: 5vh;
}

#r2 {
    float: right;
    margin-right: 5vh;
}

#explanation {
    width: 100%;
    font-size: 150%;    
	text-align: center;
}