/* General */

*, *::before, *::after {
    box-sizing: border-box;
}


/* Background */

body {
    background: url(../assets/images/reviews/SideScroller2D/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content-img {
    max-width: 50vw;
    max-height: auto;
}