/* General */

*, *::before, *::after {
    box-sizing: border-box;
}


/* Background */

body {
    background: url(../assets/images/reviews/sw-jfo/wallpaper.jpg);
}


/* About */

.general_infos {
    background: #635536;
    color: white;
}


/* Review */

.review {
    background: #635536;
}