/* Espace définissant le menu */
#menu_top {
    background-color:#036;
    height:40px;
    margin:0;
    padding:0;
}

#gauche{
    float:left;
}

/* Efface les points de la liste et créer un espace entre les éléments du menu et le bord du header */
#menu_top ul {
    list-style:none;
    margin:0;
    padding:10px 5px;
}

/* Alligne et écarte les éléments du menu les un à la suite des autres */
#menu_top li {
    display:inline;
    padding:0 8px;
}

/* Donne le style général du menu */
#menu_top a {
    color:#fff;
    text-decoration:none;
    border:1px solid #036;
    padding:6px 10px;
    }

/* surbriance lors du survole */
#menu_top a:hover {
    color:#fff;
    background-color:#903;
    border:1px solid #fff;
}

/* changement de couleur dans le menu de la page actuelement visitée */
#actif a {
    color:#fff;
    background-color:#903;
    border:1px solid #07b;
}