html {
	font-size: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	background: #fff;
	margin: 0;
}
 
/* Ajuste la photo du menu sur toute la largeur pour tous les écrans */
.banniere {
	width: 100%;
	height: auto;
}

/* Evite la superposition du footer sur le contenu et impose un décalage pour ne pas coller le contenue au bord de l'écran */
section {
	margin-bottom: 50px;
	margin-left: 1em;
}

/* cela permet d'aérer le texte et les images */
.div_album p {
	margin: 2px;
}

/* J'ai sortie du sélécteur @media les éléments communs aux deux tailles d'écrans */
.album {
	display: inline-grid;
	border: 2px solid #1c87c9;
	text-align: center;
	box-shadow: 0 0 1em black;
}
	
.album h2 {
	height: 30px;
	color: white;
	background: #1c87c9;
	margin: 0px;
	font-weight: bold;
}

/* Format général responsive */
@media (min-width: 820px) {

	/* Style pour les blocs de l'album photo */
	.album {
		height: 400px;
		width: 320px;
		margin: 20px;
	}
	
	/* Définit les tailles et centre les images */
	.image_album {
		width: 250px;
		height: auto;
	}
}

/* Pour correspondre exactement à l'exemple du cours en 800px j'utilise la fonction windows.open dans mon html qui ouvre une page de taille définie, ensuite mon css réagis grâce au sélécteur @media*/
@media (max-width: 820px) {

	/* Style pour les blocs de l'album photo */
	.album {
		height: 250px;
		width: 160px;
		margin: 10px;
	}
	
	.div_album {
		padding: 4px;
	}

	/* Définit les tailles et centre les images */
	.image_album {
		width: 120px;
		height: auto;
	}
}

/* Ecarte les articles photos et vidéos les uns des autres */
.videos {
	text-align: center;
	margin-left: 60px;
	margin-top: 40px;
	float: left;
}

/* Evite d'afficher un carré blanc lors du chargement et fais ressortir les vidéos du fond */
/* Et supprime les bords blancs qui apparaissaient par défaut */
.videos iframe {
	width: 340px;
	height: 340px;
	background-color: black;
	box-shadow: 0 0 1em black;
	border:0;
	padding:0;
}

/* Mise en forme du formulaire */
form {
	width: 350px;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 2px;
	border: 1px solid #ccc;
	border-radius: 1em;
}

/* Bordure passée en bleu */
#auth {
	width: 260px;
	border: 1px solid #0128e4;
	border-radius: 1em;
}

/* Pour être sûrs que toutes les étiquettes aient une même taille et soient correctement alignées */
.label_with_input {
  display: inline-block;
  width: 110px;
  text-align: right;
}

.account {
	display: inline-block;
	width: 110px;
	text-align: right;
}

/* Définit le pied de page ainsi que le placement et la taille des éléments qu'il contient */
footer {
	position: fixed;
	bottom: 0;
	height: 40px;
	width: 100%;
	text-align: center;
	background-color: #888888;
	color: white;
}

footer img {
	float: left;
}