/* Fonts */
@font-face {font-family: "salsa"; src: url("../assets/fonts/Salsa-Regular.ttf") format("truetype");}
@font-face {font-family: "wallpainter"; src: url("../assets/fonts/Wall-Painter.ttf") format("truetype");}

/* General */

:root {
    --clr-neon: hsl(64, 99%, 67%);
    --clr-off-neon: #080647;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: radial-gradient(#111368, #0B0438);
    width: 100%;
    height: auto;
}


/* Title */

.neon-title {
    padding: 10vh 0 calc(15vh - 2rem) 0;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.other-neon-title {
    display: inline-block;
    width: fit-content;
    font-size: 3em;
    background: radial-gradient(hsl(64, 100%, 75%), var(--clr-neon));
    color: var(--clr-off-neon);
    border: var(--clr-neon) 0.125em solid;
    border-radius: 0.25em;
    padding: 0.25em 0.75em;
}

#title {
    font-family: wallpainter;
    transform: translateY(-10px);
}


/* Grid Setup */

.content {
    display: grid;
    gap: 3rem;
}

.cg-1 {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 4rem 1rem 4rem;
}

.cg-2 {
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 4rem 1rem 4rem;
}

.wt-card {
    font-family: salsa;
    border-radius: 0.5em;
    height: 30vh;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: transform 0.1s ease;
    transform-style: preserve-3d;
    will-change: transform;
}

.wt-card a {
    font-family: inherit;
    text-decoration: none;
}

.wt-card-content {
    display: flex;
    align-items:center;
    justify-content:center;

    font-family: inherit;
    height: 100%;
    position: relative;
}

.wt-card-content h2 {
    font-family: inherit;
    font-size: 3.5em;
    color: white;
    text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
}


/* Cards icon + hover */

.wt-card:hover h2 {
    color: var(--clr-neon);
}

.PRE-GUNIVERS {
    background-image: url("../assets/images/presentation_wt.jpg");
}

.MUSIQUES {
    background-image: url("../assets/images/musiques_wt.jpg");
}

.SCENARIO {
    background-image: url("../assets/images/scenario_wt.jpg");
}

.VISUELS {
    background-image: url("../assets/images/visuels_wt.jpg");
}

.SYSTEME {
    background-image: url("../assets/images/systemes_wt.jpg");
}


/* Utilities */

.bg-radius {
    border-radius: 0.25em;
}

.bg-rotate {
    transform: rotate(90deg);
}


/* Responsive */

@media screen and (max-width: 1153px) {
    .neon-title {
        padding: 5vh 0 calc(6vh - 2rem) 0;
    }

    .content {
        grid-template-columns: 1fr;
    }
}