body {
    background-image: url(../assets/images/wt/visuels_full_size/musiqueBackground.jpg);
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

div {
    color: white;
}

img {
    max-width: 100%;
    height: auto;    
    border-radius: 2em;
    padding: 5px;
  }

a {
    color: aqua;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    grid-auto-rows: minmax(100px, auto);
    padding: 0 5em;
}

#topmenu{
    margin-bottom: 1%;
}

.audio{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    z-index: 0;
}

audio{
    padding-top: 5px;
}