/* 
	Head :
 */

/* 
	Menu flottant gauche :
 */
 .logomenu {
	display: block;
	margin-top: 30px;
	margin-bottom: 40px;
	margin-left: 0px;
	margin-right: 0px;
	width: 130px;
	height: 130px;
}

div#menu_banner {
	margin-bottom: 20px;
}

 div#menu {
	float:left;
	width:210px;
	background-image: url(image/menu_background.jpg);
	height:auto;
	box-shadow: 0 0 1em black;
	clear: both;
}

.menu_container_img {
	display: block;
	margin-left: 0px;
	margin-right: 0px;
	padding: 5px;
	width: 180px;
	height: 180px;
}

.menu_container_img:hover {
	opacity: .75;
	transition: .3s;
}

/* 
	Contenu :
 */
 body {
	margin: 0px;
	font-family: Comic Sans MS;
	background-image: url(image/background_home.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
}

div#contenu {
	width:auto;
	height:auto;
}

 h1 {
	padding-top: 50px;
	padding-bottom: 50px;
	color: #ffffff;
	font-family: Consolas;
	font-size: 400%;
	border-bottom: 1rem solid;
	border-color: black;
}

 p#preference {
	font-size: 200%;
}

/* 
	Pied de page :
 */
 div#piedpage {
	width:auto;
	font-size: 200%;
	font-variant: small-caps;
	color: #ffffff;
	height:50px;
	background-image: radial-gradient(#1E1E1E, #101010);
}